main {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: auto;
  margin-bottom: 20px;
}
header {
  margin-bottom: 40px;
}
img {
  width: 70%;
  aspect-ratio: 1/1;
}

button {
  background-color: transparent;
  border: none;
  color: #d9d9d9;
  border-radius: 50%;
  padding: 5px;
}

.title-description-price-add {
  color: #d9d9d9;
  margin-top: -90px;
  min-height: 280px;
  gap: 10px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}

.product-title {
  min-height: 55px;
  font-weight: 900;
}
.description {
  height: 76px;
  overflow: auto;
  font-weight: lighter;
  text-overflow: ellipsis;
}

.card {
  z-index: 1;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: center;
  height: 360px;
  aspect-ratio: 1/1.1;
  background-color: #262626;
  border-radius: 10px;
}

.card img {
  position: relative;
  top: -120px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  margin-bottom: -15px;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #d93232;
  font-size: 14px;
  color: #d9d9d9;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 240px;
}

.add-to-cart-btn:hover {
  border: 2px solid #d9d9d9;
}
.quantity-and-price {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 30px;
  font-weight: bold;
  margin-block: 8px;
}

.price {
  font-size: 22px;
  text-transform: uppercase;
}

.left-side {
  display: inline;
  position: relative;
  padding: 5px;
  top: 50px;
  right: 130px;
  cursor: pointer;
  border-radius: 50%;
}

.left-side:hover {
  color: #d93232;
  background-color: #d9d9d9;
}

.quantity-and-price button:hover {
  color: #262626;
  background-color: #d9d9d9;
}
